extends layout

block content
  nav
    .nav-wrapper
      a(href="#") Recipe API

  .container
    .col
      //Viewing the recipe
      h1#recipe-name
      p
      h3 Ingredients
      p#ingredients
      h3 Instructions
      p#instructions
      p
    .col
      //Adding new recipe
      //for inserting the recipe name
      p Name:
      input#name-text(type="text")

      h4 Ingredients
      textarea#ingredients-text(cols="10", rows="10")
      button#add-ingredient(type="button", class="btn") Add ingredient

      h4 Instructions
      textarea#instructions-text(cols="10", rows="10")
      button#add-instruction(type="button", class="btn") Add instruction
      p
      button#submit(type="submit", class="btn") Submit


