extends layout

block content
  h1 My todos
  input#input-name(type="text")
  input#input-task(type="text")
  button#submit-data(type="button") Button
  p
  input#search-name(type="text")
  button#search(type="button") Search
  p
  p#messageField(type="text")
  p
  button#delete-user(type="button") Delete user
